body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8; 
}

header, main, footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    background-color: #e0f2fe; 
    border-radius: 5px;
}

main{
    display:grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

section{
    padding:1rem;
    background-color: #fff;
}

